[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = {extras = ["standard"], version = "*"}
fastapi = "*"
aiofiles = "*"
peewee = "*"
jinja2 = "*"
requests = "*"
beautifulsoup4 = "*"
nested-lookup = "*"
ariadne = "*"
websockets = "*"

[dev-packages]

[requires]
python_version = "3.9"
