h1, h2, h3, h4, p, input, label, textarea {
  color: #35495e;
}

p, label, textarea, input {
  margin-bottom: 0.5rem;
  font-size: 17px;
}

h1 {
  font-weight: 600;
  margin-bottom: 1rem;
}

.opaq {
  opacity: 0.75;
}

a.light {
  font-weight: 500;
}
a.light::after {
  display: none;
}

input, textarea {
  margin-bottom: 0.5rem;
  outline: none;
  border: none;
  border-bottom: 2px #41b883 solid;
  font-size: 17px;
  font-weight: 500;
  width: 100%;
}
input::placeholder, textarea::placeholder {
  font-weight: 500;
}

textarea {
  resize: none;
  height: max-content;
  border: 1px solid #41b883;
  border-radius: 10px;
  padding: 10px;
}

button {
  text-decoration: none;
  outline: none;
  background: none;
  border: none;
}

header {
  height: 70px;
  display: flex;
  align-items: center;
}

header + hr {
  width: 80%;
  height: 2px !important;
  margin: 20px auto;
  opacity: 0.5;
}

a {
  text-decoration: none;
  color: #41b883;
  position: relative;
  font-size: 18px;
  font-weight: 600;
}
a:hover {
  color: #41b883;
}
a:hover::after {
  background: transparent;
}
a::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 1px;
  width: 100%;
  background: #41b883;
  transition: 0.2s ease;
}

a.wrap::after {
  display: none;
}

section.no_pcs * {
  text-align: center;
}

section.pc_list .loader-wrapper {
  border-radius: 5px;
  transition: 0.2s ease;
}
section.pc_list .loader-wrapper:hover {
  transform: scale(1.03);
}
section.pc_list .cards {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}
section.pc_list .cards .card {
  margin: 10px;
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  border: none;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  border-radius: 5px;
  height: 200px;
  width: 350px;
}
section.pc_list .cards .card .caption, section.pc_list .cards .card .chars {
  padding: 15px;
}
section.pc_list .cards .card .caption {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
section.pc_list .cards .card .caption p {
  text-align: center;
  font-weight: 600;
}
section.pc_list .cards .card .caption img {
  max-width: 100%;
}
section.pc_list .cards .card .chars input {
  margin-bottom: 0.5rem;
  outline: none;
  border: none;
  border-bottom: 1px #41b883 solid;
  font-size: 18px;
  font-weight: 600;
  width: 100%;
}
section.pc_list .cards .card .chars input::placeholder {
  font-weight: 500;
}
section.pc_list .cards .card .chars span {
  opacity: 0.75;
}

section.pc_view .char {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.pc_view .char input {
  text-align: right;
  border: none;
  opacity: 0.7;
  max-width: 150px;
  height: 25px;
}
section.pc_view .char .add {
  align-self: end;
  padding: 2px 10px 4px 10px;
  color: white;
  background: #41b883;
  border-radius: 5px;
  line-height: 25px;
  cursor: pointer;
}
section.pc_view .char img {
  height: 80px;
  margin-bottom: 15px;
}
section.pc_view .char p {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
section.pc_view .char p span {
  text-align: right;
  opacity: 0.7;
}
section.pc_view .char p.head {
  font-weight: 600;
  justify-content: center;
  font-size: 18px;
}
section.pc_view .char p.hide {
  display: none;
}
section.pc_view .char p.saved::after {
  right: 0;
  animation-name: savedAlt;
}
@keyframes savedAlt {
  0% {
    opacity: 0;
    top: 0;
  }
  25% {
    opacity: 1;
    top: -35px;
  }
  75% {
    opacity: 1;
    top: -35px;
  }
  100% {
    opacity: 0;
    top: 0;
  }
}
section.pc_view p {
  position: relative;
}
section.pc_view p.saved::after {
  content: "Saved";
  display: block;
  position: absolute;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
  right: -12%;
  top: 20%;
  opacity: 0;
  animation: saved 1s ease;
  background: white;
  color: #35495e;
}
@keyframes saved {
  0% {
    opacity: 0;
    top: 10%;
  }
  25% {
    opacity: 1;
    top: -20%;
  }
  75% {
    opacity: 1;
    top: -20%;
  }
  100% {
    opacity: 0;
    top: 10%;
  }
}
section.pc_view .data {
  margin-left: 50px;
}
section.pc_view .data .head {
  display: flex;
  justify-content: space-between;
}
section.pc_view .data .head input {
  font-size: 24px;
  margin-bottom: 1.5rem;
  width: 50%;
}
section.pc_view .data .head button#delete {
  height: 40px;
  background: url("/static/img/delete.png") center no-repeat white;
  background-size: contain;
  width: 30px;
  position: relative;
}
section.pc_view .data .head button#delete::after {
  color: #35495e;
  content: "Delete";
  display: block;
  position: absolute;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
  right: -17px;
  top: 0;
  opacity: 0;
  width: max-content;
  background: white;
  transition: 0.3s ease;
}
section.pc_view .data .head button#delete:hover::after {
  opacity: 1;
  transform: translateY(-35px);
}
section.pc_view .data p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  position: relative;
}
section.pc_view .data p span {
  opacity: 0.8;
}
section.pc_view .data p input {
  max-width: 300px;
  border-bottom-width: 1px;
  margin: 0;
  padding: 0;
  text-align: right;
  font-weight: 500;
}
section.pc_view .data #pc_name {
  display: none;
}
section.pc_view .data .comment {
  position: relative;
  margin-top: 50px;
}
section.pc_view .data .comment label {
  margin-bottom: 20px;
  position: absolute;
  top: -15px;
  left: 20px;
  background: #41b883;
  border-radius: 10px;
  padding: 2px 10px;
  color: white;
}
section.pc_view .data .comment textarea {
  border-bottom: 1px solid #41b883;
  height: max-content;
}

.loader-wrapper {
  position: relative;
}

.loading {
  position: absolute;
  top: 30%;
  left: 40%;
  z-index: 1;
}

.loading:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #41b883;
  border-color: #41b883 transparent #41b883 transparent;
  animation: loading 1.2s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=main.css.map */
