// Colors
$primary: #41b883;
$secondary: #35495e;

// Fonts
h1, h2, h3, h4, p, {
  color: $secondary;
}

p {
  margin-bottom: 0.5rem;
}

h1 {
  font-weight: 600;
  margin-bottom: 1rem;
}

.opaq {
  opacity: 0.75;
}

a.light {
  font-weight: 500;

  &::after {
    display: none;
  }
}

// Header
header {
  height: 70px;
  display: flex;
  align-items: center;
}

header + hr {
  width: 80%;
  height: 2px !important;
  margin: 20px auto;
  opacity: 0.5;
}

// Links
a {
  text-decoration: none;
  color: $primary;
  position: relative;
  font-size: 18px;
  font-weight: 600;

  &:hover {
    color: $primary;

    &::after {
      background: transparent;
    }
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 1px;
    width: 100%;
    background: $primary;
    transition: .2s ease;
  }
}

a.wrap {
  &::after {
    display: none;
  }
}

// Sections

section.no_pcs {
  * {
    text-align: center;
  }
}

section.pc_list {
  .cards {
    display: flex;
    justify-content: space-around;

    .card {
      margin: 10px;
      display: grid;
      grid-template-columns: 1.5fr 2fr;
      border: none;
      box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
      border-radius: 5px;
      height: 200px;
      width: 350px;
      //transition: .2s ease;

      &:hover {
        //transform: scale(1.03);
      }


      .caption, .chars {
        padding: 15px;
      }

      .caption {
        p {
          text-align: center;
          font-weight: 600;
        }

        img {
          max-width: 100%;
        }
      }

      .chars {
        input {
          margin-bottom: 0.5rem;
          outline: none;
          border: none;
          border-bottom: 1px $primary solid;
          font-size: 18px;
          font-weight: 600;
          width: 100%;

          &::placeholder {
            font-weight: 500;
          }
        }

        span {
          opacity: 0.75;
        }
      }
    }
  }
}