.activeComputer {
  display: grid;
  grid-template-rows: auto auto;

  .computerMainInfo {
    padding: 20px;
    display: grid;
    grid-template-columns: 1.2fr 2fr;
    grid-gap: 40px;

    .computerHardwareInfo {
      display: grid;
      grid-template-rows: auto auto;

      .computerName {
        img {
          margin-bottom: 10px;
        }

        p {
          font-weight: bold;
          font-size: 20px;
        }
      }

      span.iconPadding {
        display: inline-block;
        width: 20px;
      }
    }


    .computerCommonInfo {
      p {
        display: flex;
        justify-content: space-between;
        margin-bottom: 13px;

        &:hover .edit {
          opacity: 1;
        }
      }
    }
  }

  .edit {
    border-radius: 5px;
    padding: 2px;
    box-sizing: content-box;
    transition: ease 0.5s;
    opacity: 0;

    &:hover {
      color: #41b883;
      background: transparentize(black, 0.95);
    }
  }
}