.control {
  padding: 20px 20px 0 20px;
}

.controllerContainer {
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
}

.controller {
  display: flex;
  gap: 20px;
}

.computerActions {
  display: flex;
  gap: 20px;
  max-height: 38px;
}

.indexContainer {
  margin: auto;
  display: flex;
  gap: 20px;
  max-width: 97%;
}

.computersContainer {
  display: grid;
  grid-template-rows: auto 10fr;
  grid-gap: 20px;
  min-width: 65%;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
}

.loading {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.loading:after {
  content: ' ';
  display: block;
  width: 100px;
  height: 100px;
  margin: 8px;
  border-radius: 50%;
  border: 8px solid #41B883;
  border-color: #35495E transparent #35495E transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
