{% extends 'base.html' %}
{% block content %}
    <section class="add-element">
        <div class="container">
            <div class="row">
                <h1 class="text-center">We need some info for create new element.</h1>
            </div>
            <div class="row">
                <div class="col-3">
                    <label for="pcName" class="form-label">PC Name</label>
                    <input name="pcName" class="form-control" type="text" required>
                </div>
                <div class="col-3">
                    <label for="osName" class="form-label">OS Name</label>
                    <input name="osName" class="form-control" type="text" required>
                </div>
                <div class="col-3">
                    <label for="cpuName" class="form-label">CPU Name</label>
                    <input name="cpuName" class="form-control" type="text" required>
                </div>
                <div class="col-2">
                    <label for="ram" class="form-label">RAM Size</label>
                    <input name="ram" class="form-control" type="number" required>
                </div>
                <div class="col-1">
                    <label id="elementTypeLabel" for="pc" class="form-label" style="visibility: hidden">Add PC</label>
                    <button id="add" class="btn btn-primary text-white">Add</button>
                </div>
            </div>
            <div class="row">
                    <div class="add-pc"></div>
            </div>
        </div>
    </section>
{% endblock %}