<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        {% load static %}
        <meta charset="UTF-8">
        <title>{% block title %}PC Net Info{% endblock %}</title>
        {# Styles #}
        <link rel="stylesheet" href="{% static 'main.bundle.css' %}">
        {# Favicon #}
        <link rel="apple-touch-icon" sizes="180x180" href="{% static '/img/favicon/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static '/img/favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static '/img/favicon/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static '/img/favicon/site.webmanifest' %}">
        <link rel="mask-icon" href="{% static '/img/favicon/safari-pinned-tab.svg' %}" color="#41b883">
        <link rel="shortcut icon" href="{% static '/img/favicon/favicon.ico' %}">
        <meta name="msapplication-TileColor" content="#41b883">
        <meta name="msapplication-config" content="{% static '/img/favicon/browserconfig.xml' %}">
        <meta name="theme-color" content="#ffffff">
        {# JavaScript #}
        <script type="application/javascript" src="{% static 'main.bundle.js' %}"></script>
    {% endblock %}
</head>
<body>
<header>
    {% block header %}
        <div class="container-fluid">
            <div class="container">
                <div class="row justify-content-around">
                    <div class="col-auto menu-items">
                        {% for item in nav %}
                            <a href="{% url item.path_name %}">{{ item.caption }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
</header>
<hr>
<div class="container">
    {% block content %}
    {% endblock %}
</div>
<footer>
    {% block footer %}
        <hr>
        <div class="container">
        <div class="row">
            <div class="col-3">
                <h1>PC Net <span>Info</span></h1>
            </div>
            <div class="col-9">
                <div class="nav">
                    <a target="_blank" href="https://www.techpowerup.com/cpu-specs/">CPU Database</a>
                    <a target="_blank" href="https://www.techpowerup.com/gpu-specs/">GPU Database</a>
                </div>
            </div>
        </div>
        </div>
    {% endblock %}
</footer>
</body>
</html>
