{% extends 'base.html' %}
{% block content %}
    <section class="not-found">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="text-center">404</h1>
                    <h2>Not Found</h2>
                    <p class="text-center">Maybe this guys hiding something.</p>
                </div>
            </div>
            <div class="row">
                    <div class="not-found"></div>
            </div>
        </div>
    </section>
{% endblock %}