{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="pc_list">
        <div class="container">
            <div class="view-controller d-flex gap-4">
                <div class="buttons d-flex gap-4">
                    <div class="dropdown sort-control">
                        <button class="btn btn-outline-primary dropdown-toggle" type="button" id="sorter"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-sort-amount-down"></i> Sorting
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="sorter">
                            <li><a sort="label" class="dropdown-item active" href="">Label</a></li>
                            <li><a sort="cpu" class="dropdown-item" href="">CPU Performance</a></li>
                            <li><a sort="form" class="dropdown-item" href="">Form-factor</a></li>
                        </ul>
                    </div>
                    <div class="dropdown filter-control">
                        <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="collapse"
                                data-bs-target="#filter-content" aria-expanded="false" aria-controls="filter-content">
                            <i class="fas fa-filter"></i> Filter
                        </button>
                    </div>

                </div>
                <div id="search">
                    <div class="search-input">
                        <i class="fas fa-search"></i>
                        <input search="label" id="searchInput" type="text">
                    </div>
                </div>
            </div>
            <div class="collapse" id="filter-content">
                {% for filter in filters %}
                    <div class="dropdown">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="{{ filter.id }}"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            {{ filter.name }}: <span class="selected">{{ filter.options.0.name }}</span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="{{ filter.id }}">
                            {% for option in filter.options %}
                                <li><a class="dropdown-item {% if loop.index == 1 %}active{% endif %}"
                                       href="#" filter="{{ option.value }}">{{ option.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
            <div class="cards" id="pc_list">
                {% for pc in items %}
                    <div class="loader-wrapper">
                        <div class="loading" style="visibility: hidden"></div>
                        <div class="card">
                            <a class="wrap" href="{{ pc.href }}">
                                <div class="caption">
                                    {% if hw_type == 'desktop' %}
                                        <img id="hw_type" src="{% static '/img/computer.png' %}" alt="">
                                    {% endif %}
                                    {% if hw_type == 'laptop' %}
                                        <img id="hw_type" src="{% static '/img/laptop.png' %}" alt="">
                                    {% endif %}
                                    <p>{{ pc.name }}</p>
                                </div>
                            </a>
                            <div class="chars">
                                <input id="{{ pc.name }}" class="pc_label"
                                       value="{% if pc.label %}{{ pc.label }}{% endif %}" type="text"
                                       placeholder="Any label here">
                                <p>CPU:
                                    <span>{{ pc.cpu.clock }} GHz; {{ pc.cpu.cores }}/{{ pc.cpu.threads }}</span>
                                </p>
                                <p>Video: <span>{{ pc.videocard.name|slice:':25' }}</span></p>
                                <p>RAM: <span>{{ pc.ram.size }} GB</span></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}