{% extends 'base.html' %}
{% block title %}{{ pc.name }}{% endblock %}
{% block content %}
    <section class="pc_view">
        <div class="row">
            <div class="col-md-5">
                <div class="row gx-md-5">
                    <div class="col-md-6 chars">
                        <div class="char">
                            <div class="dots"></div>
                            {{ hwTypeImg(hw_type=pc.hardware_type) }}
                            <div id="hw_type_popup" class="img_popup animate__animated animate__faster">
                                <div id="desktop" class="img">
                                    <img src="{{ url_for('static', path='/img/computer.png') }}" alt="">
                                </div>
                                <div id="laptop" class="img">
                                    <img src="{{ url_for('static', path='/img/laptop.png') }}" alt="">
                                </div>
                            </div>
                            <p class="head">{{ pc.name }}</p>
                            <p>Username<input id="username" type="text" value="{{ pc.username }}"></p>
                            <p>Timezone<input id="timezone" type="text" value="{{ pc.timezone }}"></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="char">
                            <img src="{{ url_for('static', path='/img/win.png') }}" alt="">
                            <p class="head">{{ pc.os.name }}</p>
                            <p>Architecture <input id="os_architecture" type="text" value="{{ pc.os.architecture }}">
                            </p>
                            <p>OS Version <input id="os_version" type="text" value="{{ pc.os.version }}"></p>
                        </div>
                    </div>
                </div>
                <div class="row gx-md-5">
                    <div class="col-md-6">
                        <div class="char">
                            <img src="{{ url_for('static', path='/img/pcComponents/075-cpu-1.png') }} " alt="">
                            <p class="head">{{ pc.cpu.name }}</p>
                            <p>Cores/Threads <span><input id="cpu_cores" type="text" value="{{ pc.cpu.cores }}">/<input
                                    id="cpu_threads" type="text" value="{{ pc.cpu.threads }}"></span></p>
                            <p>Base clock <input id="cpu_clock" type="text" value="{{ pc.cpu.clock }}"><span> MHz</span>
                            </p>
                            <p>Socket <input id="cpu_socket" type="text" value="{{ pc.cpu.socket }}"></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="char">
                            <img src="{{ url_for('static', path='/img/pcComponents/088-ram-memory.png') }} " alt="">
                            <p class="head" style="justify-content: space-between">RAM:
                                <span>{{ pc.ram.size }} GB</span>
                            </p>
                            {% for bank in pc.ram.banks %}
                                {% if bank.capacity %}
                                    <p>Bank {{ loop.index }} <input id="ram{{ loop.index0 }}_Capacity" type="text"
                                                                    value="{{ bank.capacity|int }}"><span>GB</span></p>
                                {% else %}
                                    <p class="hide">Bank {{ loop.index }} <input id="ram{{ loop.index0 }}_Capacity"
                                                                                 type="text" placeholder="Capacity"></p>
                                {% endif %}
                            {% endfor %}
                            <div id="addRam" class="add">Add</div>
                        </div>
                    </div>
                </div>
                <div class="row gx-md-5">
                    <div class="col-md-6">
                        <div class="char">
                            <img src="{{ url_for('static', path='/img/pcComponents/070-motherboard.png') }} " alt="">
                            <p class="head">{{ pc.motherboard.manufacturer }} {{ pc.motherboard.product }}</p>
                            <p>Serial: <span>{{ pc.motherboard.serial }}</span></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="char">
                            <img src="{{ url_for('static', path='/img/pcComponents/087-graphic-card.png') }} " alt="">
                            <p class="head">{{ pc.videocard.name }}</p>
                            <p>Resolution: <span>{{ pc.videocard.resX }}x{{ pc.videocard.resY }}</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="data">
                    <input id="pc_name" type="text" value="{{ pc.name }}">
                    <div class="head">
                        <input id="label" class="head" type="text" placeholder="Any label here"
                               value="{% if pc.label %}{{ pc.label }}{% endif %}">
                        <button id="delete"></button>
                    </div>
                    <p>Computer name: <span>{{ pc.name }}</span></p>
                    <p>Domain: <span>{{ pc.domain }}</span></p>
                    <p>IP-address <span>{{ pc.ip }}</span></p>
                    <p>Updated: <span>{{ pc.updated }}</span></p>
                    <p>User: <input id="user" type="text" placeholder="Custom field"
                                    value="{% if pc.user %}{{ pc.user }}{% endif %}"></p>
                    <p>Location: <input id="location" type="text" placeholder="Custom field"
                                        value="{% if pc.location %}{{ pc.location }}{% endif %}"></p>
                    <p>Serial number: <input id="serial_number" type="text" placeholder="Custom field"
                                             value="{% if pc.serial_number %}{{ pc.serial_number }}{% endif %}"></p>
                    <div class="comment">
                        <label for="comment">Comment:</label>
                        <textarea name="comment" id="comment" placeholder="Comment field" rows="3">{% if pc.comment %}
                            {{ pc.comment }}{% endif %}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block footer %}
{% endblock %}