{% extends 'base.html' %}
{% block content %}
    <section class="work-in-progress">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="text-center">Work in progress here.</h1>
                    <p class="text-center"> You need to wait until this guys setting all up.</p>
                </div>
            </div>
            <div class="row">
                    <div class="wip-art"></div>
            </div>
        </div>
    </section>
{% endblock %}