.dialogcontent {
    height: 105%;
}
.Addicon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ModalAdd {
    display: flex;
    justify-content: center;
}
.title {
    input {
        font-size: x-large;
        width:8rem;
        border: none;
        outline: none;
        background: rgba(220, 220, 220, 0.4);
    }
    font-size: x-large;
    p{
        font-size: x-large;
    }
}