.Addicon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ModalAdd {
    display: flex;
    justify-content: center;
}
.BuildingStreet{
    font-size: x-large;
    &::after{
        content: ',';
    }
}
input.BuildingStreet{
    font-size: x-large;
    width: 100%;
    border: none;
    outline: none;
    background: rgba(220, 220, 220, 0.4);
}
.BuildingHouse{
    font-size: x-large;
}
input.BuildingHouse{
    font-size: x-large;
    width: 100%;
    border: none;
    outline: none;
    background: rgba(220, 220, 220, 0.4);
}
.Paper{
    width: 100%;
}
.Badge{
    margin: 10px 0 0 0;
    width: 99%;
}