$primary: #41b883;
$secondary: #35495e;

@import '~bootstrap/scss/bootstrap';

html,
body {
  color: $secondary;
}

body {
  background: #f0f0f0;
}

h1 {
  font-weight: bold;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background: white;
}

header {
  display: flex;
  justify-content: center;
  background: white;
}

a {
  cursor: pointer;
}